.form-signin {
  padding: 0 30px;
}

.signin-heading {
  margin-top: 48px;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.signin-label {
  margin-top: 24px;
  font-size: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #3c3c3c;
}

.signin-textfield {
  margin-top: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #3c3c3c;
  border: 1px solid #ee4444;
}

.signin-fielderror {
  background-color: #dcdcdc;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  margin-bottom: 12px;
}

.signin-btn {
  padding: 8px 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.signin-create-new-account {
  text-align: center;
}

.signin-create-new-account span {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.signin-create-new-account a {
  font-size: 14px;
  line-height: 20px;
  color: #006eaf;
}

.signin-create-new-account a:hover {
  text-decoration: underline;
}

.signin-footer {
  text-align: center;
  margin-top: 135px;
  margin-bottom: 12px;
}

.signin-footer div {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.signin-footer a {
  font-size: 14px;
  line-height: 20px;
  color: #006eaf;
}

.signin-footer a:hover {
  text-decoration: underline;
}
